[submodule "redisio"]
	path = redisio
	url = https://github.com/brianbianco/redisio.git
[submodule "ark"]
	path = ark
	url = https://github.com/opscode-cookbooks/ark.git
[submodule "chef-ulimit"]
	path = chef-ulimit
	url = https://github.com/bmhatfield/chef-ulimit.git
[submodule "ulimit"]
	path = ulimit
	url = https://github.com/bmhatfield/chef-ulimit.git
[submodule "elasticsearch"]
	path = elasticsearch
	url = https://github.com/elasticsearch/cookbook-elasticsearch.git
[submodule "java"]
	path = java
	url = https://github.com/socrata-cookbooks/java.git
[submodule "music-lager-server-cookbook"]
	path = music-lager-server-cookbook
	url = ./music-lager-server-cookbook/
[submodule "tar"]
	path = tar
	url = git@github.com:cramerdev/tar-cookbook.git
